# Clés d'API pour la traduction et la synthèse vocale
GEMINI_API_KEY=votre_cle_gemini_ici
OPENAI_API_KEY=votre_cle_openai_ici
ELEVEN_LABS_API_KEY=votre_cle_elevenlabs_ici
ELEVEN_LABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM
